{
  "swagger": "2.0",
  "info": {
    "title": "API Reference",
    "description": "Review our [API Introduction](../api-introduction) to get started.",
    "version": "1.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "Organizations",
      "description": "An Organization is the highest level of hierarchy in Turnkey. It can contain many Users, Private Keys, and Policies managed by a Root Quorum. The Root Quorum consists of a set of Users with a consensus threshold. This consensus threshold must be reached by Quorum members in order for any actions to take place.\n\nSee [Root Quorum](../concepts/users/root-quorum) for more information"
    },
    {
      "name": "Invitations",
      "description": "Invitations allow you to invite Users into your Organization via email. Alternatively, Users can be added directly without an Invitation if their ApiKey or Authenticator credentials are known ahead of time.\n\nSee [Users](./api#tag/Users) for more information"
    },
    {
      "name": "Policies",
      "description": "Policies allow for deep customization of the security of your Organization. They can be used to grant permissions or restrict usage of Users and Private Keys. The Policy Engine analyzes all of your Policies on each request to determine whether an Activity is allowed.\n\nSee [Policy Overview](../managing-policies/overview) for more information"
    },
    {
      "name": "Wallets",
      "description": "Wallets contain collections of deterministically generated cryptographic public / private key pairs that share a common seed. Turnkey securely holds the common seed, but only you can access it. In most cases, Wallets should be preferred over Private Keys since they can be represented by a mnemonic phrase, used across a variety of cryptographic curves, and can derive many addresses.\n\nDerived addresses can be used to create digital signatures using the corresponding underlying private key. See [Signing](./api#tag/Signing) for more information"
    },
    {
      "name": "Signing",
      "description": "Signers allow you to create digital signatures. Signatures are used to validate the authenticity and integrity of a digital message. Turnkey makes it easy to produce signatures by allowing you to sign with an address. If Turnkey doesn't yet support an address format you need, you can generate and sign with the public key instead by using the address format `ADDRESS_FORMAT_COMPRESSED`."
    },
    {
      "name": "Private Keys",
      "description": "Private Keys are cryptographic public / private key pairs that can be used for cryptocurrency needs or more generalized encryption. Turnkey securely holds all private key materials for you, but only you can access them.\n\nThe Private Key ID or any derived address can be used to create digital signatures. See [Signing](./api#tag/Signing) for more information"
    },
    {
      "name": "Private Key Tags",
      "description": "Private Key Tags allow you to easily group and permission Private Keys through Policies."
    },
    {
      "name": "Users",
      "description": "Users are responsible for any action taken within an Organization. They can have ApiKey or Authenticator credentials, allowing you to onboard teammates to the Organization, or create API-only Users to run as part of your infrastructure."
    },
    {
      "name": "User Tags",
      "description": "User Key Tags allow you to easily group and permission Users through Policies."
    },
    {
      "name": "Authenticators",
      "description": "Authenticators are WebAuthN hardware devices, such as a Macbook TouchID or Yubikey, that can be used to authenticate requests."
    },
    {
      "name": "API Keys",
      "description": "API Keys are used to authenticate requests\n\nSee our [CLI](https://github.com/tkhq/tkcli) for instructions on generating API Keys"
    },
    {
      "name": "Activities",
      "description": "Activities encapsulate all the possible actions that can be taken with Turnkey. Some examples include adding a new user, creating a private key, and signing a transaction.\n\nActivities that modify your Organization are processed asynchronously. To confirm processing is complete and retrieve the Activity results, these activities must be polled until that status has been updated to a finalized state: `COMPLETED` when the activity is successful or `FAILED` when the activity has failed"
    },
    {
      "name": "Consensus",
      "description": "Policies can enforce consensus requirements for Activities. For example, adding a new user requires two admins to approve the request.\n\nActivities that have been proposed, but don't yet meet the Consensus requirements will have the status: `REQUIRES_CONSENSUS`. Activities in this state can be approved or rejected using the unique fingerprint generated when an Activity is created."
    },
    {
      "name": "IP Allowlist",
      "description": "IP Allowlists restrict API access to specific CIDR blocks. They can be configured at the organization level (applying to all API keys) or at the individual API key level (overriding organization-level allowlists).\n\nWhen no IP allowlist is configured, all IP addresses are allowed. Organization-level allowlists can be enabled or disabled, while API key-level allowlists are always enforced when present."
    }
  ],
  "host": "api.turnkey.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/public/v1/query/get_active_policies": {
      "post": {
        "summary": "Get active policies",
        "description": "For each policy in an organization, report whether it is currently active based on the enclave's trusted timestamp and the policy's time window (if any). Policies without a time field are always active.",
        "operationId": "GetActivePolicies",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetActivePoliciesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetActivePoliciesRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/query/get_activity": {
      "post": {
        "summary": "Get activity",
        "description": "Get details about an activity.",
        "operationId": "GetActivity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetActivityRequest"
            }
          }
        ],
        "tags": ["Activities"]
      }
    },
    "/public/v1/query/get_api_key": {
      "post": {
        "summary": "Get API key",
        "description": "Get details about an API key.",
        "operationId": "GetApiKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetApiKeyResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetApiKeyRequest"
            }
          }
        ],
        "tags": ["API keys"]
      }
    },
    "/public/v1/query/get_api_keys": {
      "post": {
        "summary": "Get API keys",
        "description": "Get details about API keys for a user.",
        "operationId": "GetApiKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetApiKeysResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetApiKeysRequest"
            }
          }
        ],
        "tags": ["API keys"]
      }
    },
    "/public/v1/query/get_app_status": {
      "post": {
        "summary": "Get TVC App status",
        "description": "Get live runtime status for a TVC App from the cluster.",
        "operationId": "GetAppStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetAppStatusResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAppStatusRequest"
            }
          }
        ],
        "tags": ["TVC"]
      }
    },
    "/public/v1/query/get_authenticator": {
      "post": {
        "summary": "Get authenticator",
        "description": "Get details about an authenticator.",
        "operationId": "GetAuthenticator",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetAuthenticatorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAuthenticatorRequest"
            }
          }
        ],
        "tags": ["Authenticators"]
      }
    },
    "/public/v1/query/get_authenticators": {
      "post": {
        "summary": "Get authenticators",
        "description": "Get details about authenticators for a user.",
        "operationId": "GetAuthenticators",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetAuthenticatorsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAuthenticatorsRequest"
            }
          }
        ],
        "tags": ["Authenticators"]
      }
    },
    "/public/v1/query/get_boot_proof": {
      "post": {
        "summary": "Get a specific boot proof",
        "description": "Get the boot proof for a given ephemeral key.",
        "operationId": "GetBootProof",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BootProofResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBootProofRequest"
            }
          }
        ],
        "tags": ["Boot Proof"]
      }
    },
    "/public/v1/query/get_claim_earn_fees_status": {
      "post": {
        "summary": "Get Earn claim fees status",
        "description": "Poll the status of a fee claim by its claim_request_id.",
        "operationId": "GetClaimEarnFeesStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetClaimEarnFeesStatusResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetClaimEarnFeesStatusRequest"
            }
          }
        ],
        "tags": ["Earn"]
      }
    },
    "/public/v1/query/get_earn_deploy_status": {
      "post": {
        "summary": "Get Earn deploy status",
        "description": "Poll the status of a wrapper deployment by its deploy_request_id.",
        "operationId": "GetEarnDeployStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetEarnDeployStatusResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetEarnDeployStatusRequest"
            }
          }
        ],
        "tags": ["Earn"]
      }
    },
    "/public/v1/query/get_earn_deposit_status": {
      "post": {
        "summary": "Get Earn deposit status",
        "description": "Poll the status of a deposit by its deposit_request_id (for the async/sponsored deposit path).",
        "operationId": "GetEarnDepositStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetEarnDepositStatusResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetEarnDepositStatusRequest"
            }
          }
        ],
        "tags": ["Earn"]
      }
    },
    "/public/v1/query/get_earn_withdraw_status": {
      "post": {
        "summary": "Get Earn withdraw status",
        "description": "Poll the status of a withdrawal by its withdraw_request_id.",
        "operationId": "GetEarnWithdrawStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetEarnWithdrawStatusResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetEarnWithdrawStatusRequest"
            }
          }
        ],
        "tags": ["Earn"]
      }
    },
    "/public/v1/query/get_gas_usage": {
      "post": {
        "summary": "Get gas usage",
        "description": "Get gas usage and gas limits for either the parent organization or a sub-organization.",
        "operationId": "GetGasUsage",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetGasUsageResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetGasUsageRequest"
            }
          }
        ],
        "tags": ["Broadcasting"]
      }
    },
    "/public/v1/query/get_ip_allowlist": {
      "post": {
        "summary": "Get IP Allowlist",
        "description": "Get IP allowlist and rules for an organization.",
        "operationId": "GetIpAllowlist",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetIpAllowlistResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetIpAllowlistRequest"
            }
          }
        ],
        "tags": ["IP Allowlist"]
      }
    },
    "/public/v1/query/get_latest_boot_proof": {
      "post": {
        "summary": "Get the latest boot proof for an app",
        "description": "Get the latest boot proof for a given enclave app name.",
        "operationId": "GetLatestBootProof",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BootProofResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetLatestBootProofRequest"
            }
          }
        ],
        "tags": ["Boot Proof"]
      }
    },
    "/public/v1/query/get_mfa_policies": {
      "post": {
        "summary": "Get MFA policies",
        "description": "Get all MFA policies for a user.",
        "operationId": "GetMfaPolicies",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetMfaPoliciesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMfaPoliciesRequest"
            }
          }
        ],
        "tags": ["MFA Policies"]
      }
    },
    "/public/v1/query/get_mfa_policy": {
      "post": {
        "summary": "Get MFA policy",
        "description": "Get a single MFA policy for a user.",
        "operationId": "GetMfaPolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetMfaPolicyResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMfaPolicyRequest"
            }
          }
        ],
        "tags": ["MFA Policies"]
      }
    },
    "/public/v1/query/get_mfa_status": {
      "post": {
        "summary": "Get MFA status",
        "description": "Get the MFA status of an activity for a specific user or all voting users.",
        "operationId": "GetMfaStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetMfaStatusResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMfaStatusRequest"
            }
          }
        ],
        "tags": ["MFA Policies"]
      }
    },
    "/public/v1/query/get_nonces": {
      "post": {
        "summary": "Get nonces",
        "description": "Get nonce values for an address on a given network. Can fetch the standard on-chain nonce and/or the gas station nonce used for sponsored transactions.",
        "operationId": "GetNonces",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetNoncesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetNoncesRequest"
            }
          }
        ],
        "tags": ["Broadcasting"]
      }
    },
    "/public/v1/query/get_oauth2_credential": {
      "post": {
        "summary": "Get OAuth 2.0 credential",
        "description": "Get details about an OAuth 2.0 credential.",
        "operationId": "GetOauth2Credential",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetOauth2CredentialResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOauth2CredentialRequest"
            }
          }
        ]
      }
    },
    "/public/v1/query/get_oauth_providers": {
      "post": {
        "summary": "Get Oauth providers",
        "description": "Get details about Oauth providers for a user.",
        "operationId": "GetOauthProviders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetOauthProvidersResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOauthProvidersRequest"
            }
          }
        ],
        "tags": ["User Auth"]
      }
    },
    "/public/v1/query/get_onramp_transaction_status": {
      "post": {
        "summary": "Get On Ramp transaction status",
        "description": "Get the status of an on ramp transaction.",
        "operationId": "GetOnRampTransactionStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetOnRampTransactionStatusResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOnRampTransactionStatusRequest"
            }
          }
        ],
        "tags": ["On Ramp"]
      }
    },
    "/public/v1/query/get_organization_configs": {
      "post": {
        "summary": "Get configs",
        "description": "Get quorum settings and features for an organization.",
        "operationId": "GetOrganizationConfigs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetOrganizationConfigsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOrganizationConfigsRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/query/get_policy": {
      "post": {
        "summary": "Get policy",
        "description": "Get details about a policy.",
        "operationId": "GetPolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetPolicyResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPolicyRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/query/get_policy_evaluations": {
      "post": {
        "summary": "Get policy evaluations",
        "description": "Get the policy evaluations for an activity.",
        "operationId": "GetPolicyEvaluations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetPolicyEvaluationsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPolicyEvaluationsRequest"
            }
          }
        ],
        "tags": ["Activities"]
      }
    },
    "/public/v1/query/get_private_key": {
      "post": {
        "summary": "Get private key",
        "description": "Get details about a private key.",
        "operationId": "GetPrivateKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetPrivateKeyResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPrivateKeyRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/query/get_send_transaction_status": {
      "post": {
        "summary": "Get send transaction status",
        "description": "Get the status of a send transaction request.",
        "operationId": "GetSendTransactionStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetSendTransactionStatusResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSendTransactionStatusRequest"
            }
          }
        ],
        "tags": ["Send Transactions"]
      }
    },
    "/public/v1/query/get_session_profile": {
      "post": {
        "summary": "Get session profile",
        "description": "Get a single session profile for an organization.",
        "operationId": "GetSessionProfile",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetSessionProfileResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSessionProfileRequest"
            }
          }
        ],
        "tags": ["Session Profiles"]
      }
    },
    "/public/v1/query/get_session_profiles": {
      "post": {
        "summary": "Get session profiles",
        "description": "Get all session profiles for an organization.",
        "operationId": "GetSessionProfiles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetSessionProfilesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSessionProfilesRequest"
            }
          }
        ],
        "tags": ["Session Profiles"]
      }
    },
    "/public/v1/query/get_smart_contract_interface": {
      "post": {
        "summary": "Get smart contract interface",
        "description": "Get details about a smart contract interface.",
        "operationId": "GetSmartContractInterface",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetSmartContractInterfaceResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSmartContractInterfaceRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/query/get_swap_status": {
      "post": {
        "summary": "Get swap status",
        "description": "Poll the status of a swap by its swap_request_id. Covers same-chain and cross-chain swaps.",
        "operationId": "GetSwapStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetSwapStatusResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSwapStatusRequest"
            }
          }
        ],
        "tags": ["Swaps"]
      }
    },
    "/public/v1/query/get_tvc_app": {
      "post": {
        "summary": "Get TVC App",
        "description": "Get details about a single TVC App",
        "operationId": "GetTvcApp",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetTvcAppResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTvcAppRequest"
            }
          }
        ],
        "tags": ["TVC"]
      }
    },
    "/public/v1/query/get_tvc_deployment": {
      "post": {
        "summary": "Get TVC Deployment",
        "description": "Get details about a single TVC Deployment",
        "operationId": "GetTvcDeployment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetTvcDeploymentResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTvcDeploymentRequest"
            }
          }
        ],
        "tags": ["TVC"]
      }
    },
    "/public/v1/query/get_tvc_deployment_debug_logs": {
      "post": {
        "summary": "Get TVC Deployment debug logs",
        "description": "Get a bounded window of application logs from a debug-mode TVC deployment. Returned lines are collected from every running replica and sorted by platform timestamp.",
        "operationId": "GetTvcDeploymentDebugLogs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetTvcDeploymentDebugLogsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTvcDeploymentDebugLogsRequest"
            }
          }
        ],
        "tags": ["TVC"]
      }
    },
    "/public/v1/query/get_tvc_qos_versions": {
      "post": {
        "summary": "Get TVC QOS versions",
        "description": "List QOS versions supported for new TVC deployments and the latest recommended QOS version.",
        "operationId": "GetTvcQosVersions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetTvcQosVersionsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTvcQosVersionsRequest"
            }
          }
        ],
        "tags": ["TVC"]
      }
    },
    "/public/v1/query/get_user": {
      "post": {
        "summary": "Get user",
        "description": "Get details about a user.",
        "operationId": "GetUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetUserResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetUserRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/public/v1/query/get_wallet": {
      "post": {
        "summary": "Get wallet",
        "description": "Get details about a wallet.",
        "operationId": "GetWallet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetWalletResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWalletRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/query/get_wallet_account": {
      "post": {
        "summary": "Get wallet account",
        "description": "Get a single wallet account.",
        "operationId": "GetWalletAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetWalletAccountResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWalletAccountRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/query/get_wallet_address_balances": {
      "post": {
        "summary": "Get balances",
        "description": "Get balances of supported assets for an address on the specified network. Only non-zero balances are returned.",
        "operationId": "GetWalletAddressBalances",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetWalletAddressBalancesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWalletAddressBalancesRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/query/list_activities": {
      "post": {
        "summary": "List activities",
        "description": "List all activities within an organization.",
        "operationId": "GetActivities",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetActivitiesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetActivitiesRequest"
            }
          }
        ],
        "tags": ["Activities"]
      }
    },
    "/public/v1/query/list_app_proofs": {
      "post": {
        "summary": "List App Proofs for an activity",
        "description": "List the App Proofs for the given activity.",
        "operationId": "GetAppProofs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetAppProofsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAppProofsRequest"
            }
          }
        ],
        "tags": ["App Proof"]
      }
    },
    "/public/v1/query/list_earn_enabled_vaults": {
      "post": {
        "summary": "Get Earn enabled vaults",
        "description": "Get the organization's deployed wrappers with on-chain total deposited and live APY. The management view, distinct from per-wallet positions.",
        "operationId": "ListEarnEnabledVaults",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListEarnEnabledVaultsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListEarnEnabledVaultsRequest"
            }
          }
        ],
        "tags": ["Earn"]
      }
    },
    "/public/v1/query/list_earn_positions": {
      "post": {
        "summary": "Get Earn positions",
        "description": "Get the active Earn positions for a specific wallet, including current value, cost basis, yield, and projected fees.",
        "operationId": "ListEarnPositions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListEarnPositionsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListEarnPositionsRequest"
            }
          }
        ],
        "tags": ["Earn"]
      }
    },
    "/public/v1/query/list_earn_vaults": {
      "post": {
        "summary": "Get Earn vault catalog",
        "description": "Get the catalog of all wrappable yield vaults across supported chains, enriched with live TVL and APY. Annotates which vaults the organization has already enabled.",
        "operationId": "ListEarnVaults",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListEarnVaultsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListEarnVaultsRequest"
            }
          }
        ],
        "tags": ["Earn"]
      }
    },
    "/public/v1/query/list_email_events": {
      "post": {
        "summary": "List email events",
        "description": "List email events for the organization.",
        "operationId": "ListEmailEvents",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListEmailEventsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListEmailEventsRequest"
            }
          }
        ],
        "tags": ["Email"]
      }
    },
    "/public/v1/query/list_eth_transaction_history": {
      "post": {
        "summary": "List Eth transaction history",
        "description": "List Ethereum transaction history for a wallet address on the specified network.",
        "operationId": "ListEthTransactionHistory",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListEthTransactionHistoryResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListEthTransactionHistoryRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/query/list_fiat_on_ramp_credentials": {
      "post": {
        "summary": "List Fiat On Ramp Credentials",
        "description": "List all fiat on ramp provider credentials within an organization.",
        "operationId": "ListFiatOnRampCredentials",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListFiatOnRampCredentialsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListFiatOnRampCredentialsRequest"
            }
          }
        ],
        "tags": ["On Ramp"]
      }
    },
    "/public/v1/query/list_oauth2_credentials": {
      "post": {
        "summary": "List OAuth 2.0 Credentials",
        "description": "List all OAuth 2.0 credentials within an organization.",
        "operationId": "ListOauth2Credentials",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListOauth2CredentialsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListOauth2CredentialsRequest"
            }
          }
        ],
        "tags": ["User Auth"]
      }
    },
    "/public/v1/query/list_policies": {
      "post": {
        "summary": "List policies",
        "description": "List all policies within an organization.",
        "operationId": "GetPolicies",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetPoliciesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPoliciesRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/query/list_private_key_tags": {
      "post": {
        "summary": "List private key tags",
        "description": "List all private key tags within an organization.",
        "operationId": "ListPrivateKeyTags",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListPrivateKeyTagsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListPrivateKeyTagsRequest"
            }
          }
        ],
        "tags": ["Private Key Tags"]
      }
    },
    "/public/v1/query/list_private_keys": {
      "post": {
        "summary": "List private keys",
        "description": "List all private keys within an organization.",
        "operationId": "GetPrivateKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetPrivateKeysResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPrivateKeysRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/query/list_secrets": {
      "post": {
        "summary": "List secrets",
        "description": "List secret metadata for an organization.",
        "operationId": "ListSecrets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListSecretsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListSecretsRequest"
            }
          }
        ],
        "tags": ["Secrets"]
      }
    },
    "/public/v1/query/list_smart_contract_interfaces": {
      "post": {
        "summary": "List smart contract interfaces",
        "description": "List all smart contract interfaces within an organization.",
        "operationId": "GetSmartContractInterfaces",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetSmartContractInterfacesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSmartContractInterfacesRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/query/list_sol_transaction_history": {
      "post": {
        "summary": "List Sol transaction history",
        "description": "List Solana transaction history for a wallet address on the specified network.",
        "operationId": "ListSolTransactionHistory",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListSolTransactionHistoryResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListSolTransactionHistoryRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/query/list_suborgs": {
      "post": {
        "summary": "Get sub-organizations",
        "description": "Get all suborg IDs associated given a parent org ID and an optional filter.",
        "operationId": "GetSubOrgIds",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetSubOrgIdsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSubOrgIdsRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/query/list_supported_assets": {
      "post": {
        "summary": "List supported assets",
        "description": "List supported assets for the specified network.",
        "operationId": "ListSupportedAssets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListSupportedAssetsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListSupportedAssetsRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/query/list_tvc_app_deployments": {
      "post": {
        "summary": "List TVC Deployments",
        "description": "List all deployments for a given TVC App",
        "operationId": "GetTvcAppDeployments",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetTvcAppDeploymentsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTvcAppDeploymentsRequest"
            }
          }
        ],
        "tags": ["TVC"]
      }
    },
    "/public/v1/query/list_tvc_apps": {
      "post": {
        "summary": "List TVC Apps",
        "description": "List all TVC Apps within an organization.",
        "operationId": "GetTvcApps",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetTvcAppsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTvcAppsRequest"
            }
          }
        ],
        "tags": ["TVC"]
      }
    },
    "/public/v1/query/list_user_tags": {
      "post": {
        "summary": "List user tags",
        "description": "List all user tags within an organization.",
        "operationId": "ListUserTags",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListUserTagsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListUserTagsRequest"
            }
          }
        ],
        "tags": ["User Tags"]
      }
    },
    "/public/v1/query/list_users": {
      "post": {
        "summary": "List users",
        "description": "List all users within an organization.",
        "operationId": "GetUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetUsersResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetUsersRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/public/v1/query/list_verified_suborgs": {
      "post": {
        "summary": "Get verified sub-organizations",
        "description": "Get all email or phone verified suborg IDs associated given a parent org ID.",
        "operationId": "GetVerifiedSubOrgIds",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetVerifiedSubOrgIdsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetVerifiedSubOrgIdsRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/query/list_wallet_accounts": {
      "post": {
        "summary": "List wallet accounts",
        "description": "List all accounts within a wallet.",
        "operationId": "GetWalletAccounts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetWalletAccountsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWalletAccountsRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/query/list_wallets": {
      "post": {
        "summary": "List wallets",
        "description": "List all wallets within an organization.",
        "operationId": "GetWallets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetWalletsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWalletsRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/query/list_webhook_endpoints": {
      "post": {
        "summary": "List webhook endpoints",
        "description": "List webhook endpoints within an organization.",
        "operationId": "ListWebhookEndpoints",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListWebhookEndpointsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListWebhookEndpointsRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/query/validate_tvc_image": {
      "post": {
        "summary": "Validate Container Image for TVC",
        "description": "Validate a container image URL and pull secret for TVC deployment",
        "operationId": "ValidateTvcImage",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ValidateTvcImageResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateTvcImageRequest"
            }
          }
        ],
        "tags": ["TVC"]
      }
    },
    "/public/v1/query/whoami": {
      "post": {
        "summary": "Who am I?",
        "description": "Get basic information about your current API or WebAuthN user and their organization. Affords sub-organization look ups via parent organization for WebAuthN or API key users.",
        "operationId": "GetWhoami",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetWhoamiResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWhoamiRequest"
            }
          }
        ],
        "tags": ["Sessions"]
      }
    },
    "/public/v1/submit/approve_activity": {
      "post": {
        "summary": "Approve activity",
        "description": "Approve an activity.",
        "operationId": "ApproveActivity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApproveActivityRequest"
            }
          }
        ],
        "tags": ["Consensus"]
      }
    },
    "/public/v1/submit/claim_earn_fees": {
      "post": {
        "summary": "Claim earn fees",
        "description": "Claim earn fees through the activity pipeline.",
        "operationId": "ClaimEarnFees",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClaimEarnFeesRequest"
            }
          }
        ],
        "tags": ["Earn"]
      }
    },
    "/public/v1/submit/claim_swap_fees": {
      "post": {
        "summary": "Claim swap fees",
        "description": "Claim swap fees through the activity pipeline.",
        "operationId": "ClaimSwapFees",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClaimSwapFeesRequest"
            }
          }
        ],
        "tags": ["Swaps"]
      }
    },
    "/public/v1/submit/create_api_keys": {
      "post": {
        "summary": "Create API keys",
        "description": "Add API keys to an existing user.",
        "operationId": "CreateApiKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateApiKeysRequest"
            }
          }
        ],
        "tags": ["API Keys"]
      }
    },
    "/public/v1/submit/create_authenticators": {
      "post": {
        "summary": "Create authenticators",
        "description": "Create authenticators to authenticate requests to Turnkey.",
        "operationId": "CreateAuthenticators",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAuthenticatorsRequest"
            }
          }
        ],
        "tags": ["Authenticators"]
      }
    },
    "/public/v1/submit/create_fiat_on_ramp_credential": {
      "post": {
        "summary": "Create a Fiat On Ramp Credential",
        "description": "Create a fiat on ramp provider credential",
        "operationId": "CreateFiatOnRampCredential",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFiatOnRampCredentialRequest"
            }
          }
        ],
        "tags": ["On Ramp"]
      }
    },
    "/public/v1/submit/create_invitations": {
      "post": {
        "summary": "Create invitations",
        "description": "Create invitations to join an existing organization.",
        "operationId": "CreateInvitations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateInvitationsRequest"
            }
          }
        ],
        "tags": ["Invitations"]
      }
    },
    "/public/v1/submit/create_mfa_policy": {
      "post": {
        "summary": "Create MFA policy",
        "description": "Create a new MFA policy for a user.",
        "operationId": "CreateMfaPolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMfaPolicyRequest"
            }
          }
        ],
        "tags": ["MFA Policies"]
      }
    },
    "/public/v1/submit/create_oauth2_credential": {
      "post": {
        "summary": "Create an OAuth 2.0 Credential",
        "description": "Enable authentication for end users with an OAuth 2.0 provider",
        "operationId": "CreateOauth2Credential",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOauth2CredentialRequest"
            }
          }
        ],
        "tags": ["User Auth"]
      }
    },
    "/public/v1/submit/create_oauth_providers": {
      "post": {
        "summary": "Create Oauth providers",
        "description": "Create Oauth providers for a specified user.",
        "operationId": "CreateOauthProviders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOauthProvidersRequest"
            }
          }
        ],
        "tags": ["User Auth"]
      }
    },
    "/public/v1/submit/create_policies": {
      "post": {
        "summary": "Create policies",
        "description": "Create new policies.",
        "operationId": "CreatePolicies",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePoliciesRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/submit/create_policy": {
      "post": {
        "summary": "Create policy",
        "description": "Create a new policy.",
        "operationId": "CreatePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePolicyRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/submit/create_private_key_tag": {
      "post": {
        "summary": "Create private key tag",
        "description": "Create a private key tag and add it to private keys.",
        "operationId": "CreatePrivateKeyTag",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePrivateKeyTagRequest"
            }
          }
        ],
        "tags": ["Private Key Tags"]
      }
    },
    "/public/v1/submit/create_private_keys": {
      "post": {
        "summary": "Create private keys",
        "description": "Create new private keys.",
        "operationId": "CreatePrivateKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePrivateKeysRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/submit/create_read_only_session": {
      "post": {
        "summary": "Create read only session",
        "description": "Create a read only session for a user (valid for 1 hour).",
        "operationId": "CreateReadOnlySession",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateReadOnlySessionRequest"
            }
          }
        ],
        "tags": ["Sessions"]
      }
    },
    "/public/v1/submit/create_read_write_session": {
      "post": {
        "summary": "Create read write session",
        "description": "Create a read write session for a user.",
        "operationId": "CreateReadWriteSession",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateReadWriteSessionRequest"
            }
          }
        ],
        "tags": ["Sessions"]
      }
    },
    "/public/v1/submit/create_session_profile": {
      "post": {
        "summary": "Create session profile",
        "description": "Create a new session profile for an organization.",
        "operationId": "CreateSessionProfile",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSessionProfileRequest"
            }
          }
        ],
        "tags": ["Session Profiles"]
      }
    },
    "/public/v1/submit/create_smart_contract_interface": {
      "post": {
        "summary": "Create smart contract interface",
        "description": "Create an ABI/IDL in JSON.",
        "operationId": "CreateSmartContractInterface",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSmartContractInterfaceRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/submit/create_sub_organization": {
      "post": {
        "summary": "Create sub-organization",
        "description": "Create a new sub-organization. Each root user must have at least one valid credential: an API key, an authenticator, an OAuth provider, or an email or phone number with a login method enabled on the sub-organization (email, email OTP, or SMS).",
        "operationId": "CreateSubOrganization",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSubOrganizationRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/submit/create_swap_quote": {
      "post": {
        "summary": "Get swap quote",
        "description": "Get a swap quote. Asset chains are derived from CAIP-19 asset IDs; cross-chain quotes are supported.",
        "operationId": "CreateSwapQuote",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSwapQuoteRequest"
            }
          }
        ],
        "tags": ["Swaps"]
      }
    },
    "/public/v1/submit/create_tvc_app": {
      "post": {
        "summary": "Create a TVC App",
        "description": "Create a new TVC application",
        "operationId": "CreateTvcApp",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTvcAppRequest"
            }
          }
        ],
        "tags": ["TVC"]
      }
    },
    "/public/v1/submit/create_tvc_deployment": {
      "post": {
        "summary": "Create a TVC Deployment",
        "description": "Create a new TVC Deployment",
        "operationId": "CreateTvcDeployment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTvcDeploymentRequest"
            }
          }
        ],
        "tags": ["TVC"]
      }
    },
    "/public/v1/submit/create_tvc_manifest_approvals": {
      "post": {
        "summary": "Create TVC Manifest Approvals",
        "description": "Post one or more manifest approvals for a TVC Manifest",
        "operationId": "CreateTvcManifestApprovals",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTvcManifestApprovalsRequest"
            }
          }
        ],
        "tags": ["TVC"]
      }
    },
    "/public/v1/submit/create_user_tag": {
      "post": {
        "summary": "Create user tag",
        "description": "Create a user tag and add it to users.",
        "operationId": "CreateUserTag",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUserTagRequest"
            }
          }
        ],
        "tags": ["User Tags"]
      }
    },
    "/public/v1/submit/create_users": {
      "post": {
        "summary": "Create users",
        "description": "Create users in an existing organization. Each user must have at least one valid credential: an API key, an authenticator, an OAuth provider, or an email or phone number with a login method enabled on the organization (email, email OTP, or SMS).",
        "operationId": "CreateUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUsersRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/public/v1/submit/create_wallet": {
      "post": {
        "summary": "Create wallet",
        "description": "Create a wallet and derive addresses.",
        "operationId": "CreateWallet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateWalletRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/submit/create_wallet_accounts": {
      "post": {
        "summary": "Create wallet accounts",
        "description": "Derive additional addresses using an existing wallet.",
        "operationId": "CreateWalletAccounts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateWalletAccountsRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/submit/create_webhook_endpoint": {
      "post": {
        "summary": "Create webhook endpoint",
        "description": "Create a webhook endpoint for an organization.",
        "operationId": "CreateWebhookEndpoint",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateWebhookEndpointRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/submit/delete_api_keys": {
      "post": {
        "summary": "Delete API keys",
        "description": "Remove api keys from a user.",
        "operationId": "DeleteApiKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteApiKeysRequest"
            }
          }
        ],
        "tags": ["API Keys"]
      }
    },
    "/public/v1/submit/delete_authenticators": {
      "post": {
        "summary": "Delete authenticators",
        "description": "Remove authenticators from a user.",
        "operationId": "DeleteAuthenticators",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteAuthenticatorsRequest"
            }
          }
        ],
        "tags": ["Authenticators"]
      }
    },
    "/public/v1/submit/delete_fiat_on_ramp_credential": {
      "post": {
        "summary": "Delete a Fiat On Ramp Credential",
        "description": "Delete a fiat on ramp provider credential",
        "operationId": "DeleteFiatOnRampCredential",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteFiatOnRampCredentialRequest"
            }
          }
        ],
        "tags": ["On Ramp"]
      }
    },
    "/public/v1/submit/delete_invitation": {
      "post": {
        "summary": "Delete invitation",
        "description": "Delete an existing invitation.",
        "operationId": "DeleteInvitation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteInvitationRequest"
            }
          }
        ],
        "tags": ["Invitations"]
      }
    },
    "/public/v1/submit/delete_mfa_policy": {
      "post": {
        "summary": "Delete MFA policy",
        "description": "Delete an MFA policy for a user.",
        "operationId": "DeleteMfaPolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteMfaPolicyRequest"
            }
          }
        ],
        "tags": ["MFA Policies"]
      }
    },
    "/public/v1/submit/delete_oauth2_credential": {
      "post": {
        "summary": "Delete an OAuth 2.0 Credential",
        "description": "Disable authentication for end users with an OAuth 2.0 provider",
        "operationId": "DeleteOauth2Credential",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteOauth2CredentialRequest"
            }
          }
        ],
        "tags": ["User Auth"]
      }
    },
    "/public/v1/submit/delete_oauth_providers": {
      "post": {
        "summary": "Delete Oauth providers",
        "description": "Remove Oauth providers for a specified user.",
        "operationId": "DeleteOauthProviders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteOauthProvidersRequest"
            }
          }
        ],
        "tags": ["User Auth"]
      }
    },
    "/public/v1/submit/delete_policies": {
      "post": {
        "summary": "Delete policies",
        "description": "Delete existing policies.",
        "operationId": "DeletePolicies",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeletePoliciesRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/submit/delete_policy": {
      "post": {
        "summary": "Delete policy",
        "description": "Delete an existing policy.",
        "operationId": "DeletePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeletePolicyRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/submit/delete_private_key_tags": {
      "post": {
        "summary": "Delete private key tags",
        "description": "Delete private key tags within an organization.",
        "operationId": "DeletePrivateKeyTags",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeletePrivateKeyTagsRequest"
            }
          }
        ],
        "tags": ["Private Key Tags"]
      }
    },
    "/public/v1/submit/delete_private_keys": {
      "post": {
        "summary": "Delete private keys",
        "description": "Delete private keys for an organization.",
        "operationId": "DeletePrivateKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeletePrivateKeysRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/submit/delete_smart_contract_interface": {
      "post": {
        "summary": "Delete smart contract interface",
        "description": "Delete a smart contract interface.",
        "operationId": "DeleteSmartContractInterface",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteSmartContractInterfaceRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/submit/delete_sub_organization": {
      "post": {
        "summary": "Delete sub-organization",
        "description": "Delete a sub-organization.",
        "operationId": "DeleteSubOrganization",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteSubOrganizationRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/submit/delete_tvc_app_and_deployments": {
      "post": {
        "summary": "Delete a TVC App and all of its deployments",
        "description": "Delete a TVC App and all of its deployments",
        "operationId": "DeleteTvcAppAndDeployments",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteTvcAppAndDeploymentsRequest"
            }
          }
        ],
        "tags": ["TVC"]
      }
    },
    "/public/v1/submit/delete_tvc_deployment": {
      "post": {
        "summary": "Delete a TVC Deployment",
        "description": "Delete a TVC Deployment",
        "operationId": "DeleteTvcDeployment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteTvcDeploymentRequest"
            }
          }
        ],
        "tags": ["TVC"]
      }
    },
    "/public/v1/submit/delete_user_tags": {
      "post": {
        "summary": "Delete user tags",
        "description": "Delete user tags within an organization.",
        "operationId": "DeleteUserTags",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteUserTagsRequest"
            }
          }
        ],
        "tags": ["User Tags"]
      }
    },
    "/public/v1/submit/delete_users": {
      "post": {
        "summary": "Delete users",
        "description": "Delete users within an organization.",
        "operationId": "DeleteUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteUsersRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/public/v1/submit/delete_wallet_accounts": {
      "post": {
        "summary": "Delete wallet accounts",
        "description": "Delete wallet accounts for an organization.",
        "operationId": "DeleteWalletAccounts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteWalletAccountsRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/submit/delete_wallets": {
      "post": {
        "summary": "Delete wallets",
        "description": "Delete wallets for an organization.",
        "operationId": "DeleteWallets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteWalletsRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/submit/delete_webhook_endpoint": {
      "post": {
        "summary": "Delete webhook endpoint",
        "description": "Delete a webhook endpoint for an organization.",
        "operationId": "DeleteWebhookEndpoint",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteWebhookEndpointRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/submit/earn_deploy_wrapper": {
      "post": {
        "summary": "Deploy Earn wrapper",
        "description": "Enable a yield vault for an organization by deploying its fee wrapper. Must be called before any deposits into the vault.",
        "operationId": "EarnDeployWrapper",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EarnDeployWrapperRequest"
            }
          }
        ],
        "tags": ["Earn"]
      }
    },
    "/public/v1/submit/earn_deposit": {
      "post": {
        "summary": "Deposit into Earn vault",
        "description": "Deposit assets from a wallet into an enabled yield vault.",
        "operationId": "EarnDeposit",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EarnDepositRequest"
            }
          }
        ],
        "tags": ["Earn"]
      }
    },
    "/public/v1/submit/earn_set_wrapper_state": {
      "post": {
        "summary": "Set Earn wrapper state",
        "description": "Enable or disable deposits to a deployed Earn wrapper. Withdrawals are always allowed.",
        "operationId": "EarnSetWrapperState",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EarnSetWrapperStateRequest"
            }
          }
        ],
        "tags": ["Earn"]
      }
    },
    "/public/v1/submit/earn_withdraw": {
      "post": {
        "summary": "Withdraw from Earn vault",
        "description": "Withdraw assets or redeem shares from an enabled yield vault.",
        "operationId": "EarnWithdraw",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EarnWithdrawRequest"
            }
          }
        ],
        "tags": ["Earn"]
      }
    },
    "/public/v1/submit/email_auth": {
      "post": {
        "summary": "Perform email auth",
        "description": "Authenticate a user via email.",
        "operationId": "EmailAuth",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailAuthRequest"
            }
          }
        ],
        "tags": ["User Auth"]
      }
    },
    "/public/v1/submit/eth_send_transaction": {
      "post": {
        "summary": "Broadcast EVM transaction",
        "description": "Submit a transaction intent describing an EVM transaction you would like to broadcast.",
        "operationId": "EthSendTransaction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EthSendTransactionRequest"
            }
          }
        ],
        "tags": ["Broadcasting"]
      }
    },
    "/public/v1/submit/eth_undelegate_7702": {
      "post": {
        "summary": "Undelegate an EVM account",
        "description": "Submit an EIP-7702 undelegation transaction.",
        "operationId": "EthUndelegate7702",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EthUndelegate7702Request"
            }
          }
        ],
        "tags": ["Broadcasting"]
      }
    },
    "/public/v1/submit/execute_swap": {
      "post": {
        "summary": "Execute swap",
        "description": "Execute the exact provider quote identified by quote_id through the activity pipeline and Turnkey broadcasting. Requests must use ACTIVITY_TYPE_EXECUTE_SWAP_V2.",
        "operationId": "ExecuteSwap",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteSwapRequest"
            }
          }
        ],
        "tags": ["Swaps"]
      }
    },
    "/public/v1/submit/export_private_key": {
      "post": {
        "summary": "Export private key",
        "description": "Export a private key.",
        "operationId": "ExportPrivateKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportPrivateKeyRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/submit/export_secrets": {
      "post": {
        "summary": "Export secrets",
        "description": "Export secrets encrypted to client-provided target public keys.",
        "operationId": "ExportSecrets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportSecretsRequest"
            }
          }
        ],
        "tags": ["Secrets"]
      }
    },
    "/public/v1/submit/export_wallet": {
      "post": {
        "summary": "Export wallet",
        "description": "Export a wallet.",
        "operationId": "ExportWallet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportWalletRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/submit/export_wallet_account": {
      "post": {
        "summary": "Export wallet account",
        "description": "Export a wallet account.",
        "operationId": "ExportWalletAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportWalletAccountRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/submit/import_private_key": {
      "post": {
        "summary": "Import private key",
        "description": "Import a private key.",
        "operationId": "ImportPrivateKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportPrivateKeyRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/submit/import_secrets": {
      "post": {
        "summary": "Import secrets",
        "description": "Import secrets encrypted to target keys returned from InitImportSecrets.",
        "operationId": "ImportSecrets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportSecretsRequest"
            }
          }
        ],
        "tags": ["Secrets"]
      }
    },
    "/public/v1/submit/import_wallet": {
      "post": {
        "summary": "Import wallet",
        "description": "Import a wallet.",
        "operationId": "ImportWallet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
[...]
