.card-link {
  display: block;
  padding: 1rem;
  background-color: #1a1a1a;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  text-decoration: none;
  border: 1px solid var(--tk-border-gray-100);
}

.card-link:hover {
  background-color: #333;
  color: unset;
  text-decoration: none;
}

.card-link-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.card-link-icon {
  margin-right: 0.5rem;
  display: flex;
}

.card-link-title {
  font-size: 1.125rem;
  font-weight: 600;
}

.card-link-content {
  font-size: 0.875rem;
  color: #b3b3b3;
}
