{
  "openapi": "3.0.1",
  "info": {
    "title": "API Reference",
    "description": "Review our [API Introduction](../api-introduction) to get started.",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.turnkey.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "AuthenticatorAuth": []
    }
  ],
  "tags": [
    {
      "name": "Organizations",
      "description": "An Organization is the highest level of hierarchy in Turnkey. It can contain many Users, Private Keys, and Policies managed by a Root Quorum. The Root Quorum consists of a set of Users with a consensus threshold. This consensus threshold must be reached by Quorum members in order for any actions to take place.\n\nSee [Root Quorum](../concepts/users/root-quorum) for more information"
    },
    {
      "name": "Invitations",
      "description": "Invitations allow you to invite Users into your Organization via email. Alternatively, Users can be added directly without an Invitation if their ApiKey or Authenticator credentials are known ahead of time.\n\nSee [Users](./api#tag/Users) for more information"
    },
    {
      "name": "Policies",
      "description": "Policies allow for deep customization of the security of your Organization. They can be used to grant permissions or restrict usage of Users and Private Keys. The Policy Engine analyzes all of your Policies on each request to determine whether an Activity is allowed.\n\nSee [Policy Overview](../managing-policies/overview) for more information"
    },
    {
      "name": "Wallets",
      "description": "Wallets contain collections of deterministically generated cryptographic public / private key pairs that share a common seed. Turnkey securely holds the common seed, but only you can access it. In most cases, Wallets should be preferred over Private Keys since they can be represented by a mnemonic phrase, used across a variety of cryptographic curves, and can derive many addresses.\n\nDerived addresses can be used to create digital signatures using the corresponding underlying private key. See [Signing](./api#tag/Signing) for more information"
    },
    {
      "name": "Signing",
      "description": "Signers allow you to create digital signatures. Signatures are used to validate the authenticity and integrity of a digital message. Turnkey makes it easy to produce signatures by allowing you to sign with an address. If Turnkey doesn't yet support an address format you need, you can generate and sign with the public key instead by using the address format `ADDRESS_FORMAT_COMPRESSED`."
    },
    {
      "name": "Private Keys",
      "description": "Private Keys are cryptographic public / private key pairs that can be used for cryptocurrency needs or more generalized encryption. Turnkey securely holds all private key materials for you, but only you can access them.\n\nThe Private Key ID or any derived address can be used to create digital signatures. See [Signing](./api#tag/Signing) for more information"
    },
    {
      "name": "Private Key Tags",
      "description": "Private Key Tags allow you to easily group and permission Private Keys through Policies."
    },
    {
      "name": "Users",
      "description": "Users are responsible for any action taken within an Organization. They can have ApiKey or Authenticator credentials, allowing you to onboard teammates to the Organization, or create API-only Users to run as part of your infrastructure."
    },
    {
      "name": "User Tags",
      "description": "User Key Tags allow you to easily group and permission Users through Policies."
    },
    {
      "name": "Authenticators",
      "description": "Authenticators are WebAuthN hardware devices, such as a Macbook TouchID or Yubikey, that can be used to authenticate requests."
    },
    {
      "name": "API Keys",
      "description": "API Keys are used to authenticate requests\n\nSee our [CLI](https://github.com/tkhq/tkcli) for instructions on generating API Keys"
    },
    {
      "name": "Activities",
      "description": "Activities encapsulate all the possible actions that can be taken with Turnkey. Some examples include adding a new user, creating a private key, and signing a transaction.\n\nActivities that modify your Organization are processed asynchronously. To confirm processing is complete and retrieve the Activity results, these activities must be polled until that status has been updated to a finalized state: `COMPLETED` when the activity is successful or `FAILED` when the activity has failed"
    },
    {
      "name": "Consensus",
      "description": "Policies can enforce consensus requirements for Activities. For example, adding a new user requires two admins to approve the request.\n\nActivities that have been proposed, but don't yet meet the Consensus requirements will have the status: `REQUIRES_CONSENSUS`. Activities in this state can be approved or rejected using the unique fingerprint generated when an Activity is created."
    }
  ],
  "paths": {
    "/public/v1/query/get_activity": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activity",
        "description": "Get details about an activity.",
        "operationId": "GetActivity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetActivityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_api_key": {
      "post": {
        "tags": [
          "API keys"
        ],
        "summary": "Get API key",
        "description": "Get details about an API key.",
        "operationId": "GetApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_api_keys": {
      "post": {
        "tags": [
          "API keys"
        ],
        "summary": "Get API keys",
        "description": "Get details about API keys for a user.",
        "operationId": "GetApiKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetApiKeysRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiKeysResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_authenticator": {
      "post": {
        "tags": [
          "Authenticators"
        ],
        "summary": "Get authenticator",
        "description": "Get details about an authenticator.",
        "operationId": "GetAuthenticator",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAuthenticatorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuthenticatorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_authenticators": {
      "post": {
        "tags": [
          "Authenticators"
        ],
        "summary": "Get authenticators",
        "description": "Get details about authenticators for a user.",
        "operationId": "GetAuthenticators",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAuthenticatorsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuthenticatorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_boot_proof": {
      "post": {
        "tags": [
          "Boot Proof"
        ],
        "summary": "Get a specific boot proof",
        "description": "Get the boot proof for a given ephemeral key.",
        "operationId": "GetBootProof",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBootProofRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BootProofResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_gas_usage": {
      "post": {
        "tags": [
          "Broadcasting"
        ],
        "summary": "Get gas usage and limits.",
        "description": "Get gas usage and gas limits for either the parent organization or a sub-organization.",
        "operationId": "GetGasUsage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetGasUsageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGasUsageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_latest_boot_proof": {
      "post": {
        "tags": [
          "Boot Proof"
        ],
        "summary": "Get the latest boot proof for an app",
        "description": "Get the latest boot proof for a given enclave app name.",
        "operationId": "GetLatestBootProof",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLatestBootProofRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BootProofResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_nonces": {
      "post": {
        "tags": [
          "Broadcasting"
        ],
        "summary": "Get nonces for an address.",
        "description": "Get nonce values for an address on a given network. Can fetch the standard on-chain nonce and/or the gas station nonce used for sponsored transactions.",
        "operationId": "GetNonces",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNoncesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNoncesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_oauth2_credential": {
      "post": {
        "summary": "Get OAuth 2.0 credential",
        "description": "Get details about an OAuth 2.0 credential.",
        "operationId": "GetOauth2Credential",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOauth2CredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOauth2CredentialResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_oauth_providers": {
      "post": {
        "tags": [
          "User Auth"
        ],
        "summary": "Get Oauth providers",
        "description": "Get details about Oauth providers for a user.",
        "operationId": "GetOauthProviders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOauthProvidersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOauthProvidersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_onramp_transaction_status": {
      "post": {
        "tags": [
          "On Ramp"
        ],
        "summary": "Get On Ramp transaction status",
        "description": "Get the status of an on ramp transaction.",
        "operationId": "GetOnRampTransactionStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOnRampTransactionStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOnRampTransactionStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_organization_configs": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get configs",
        "description": "Get quorum settings and features for an organization.",
        "operationId": "GetOrganizationConfigs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOrganizationConfigsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrganizationConfigsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_policy": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Get policy",
        "description": "Get details about a policy.",
        "operationId": "GetPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPolicyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_policy_evaluations": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Get policy evaluations",
        "description": "Get the policy evaluations for an activity.",
        "operationId": "GetPolicyEvaluations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPolicyEvaluationsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPolicyEvaluationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_private_key": {
      "post": {
        "tags": [
          "Private Keys"
        ],
        "summary": "Get private key",
        "description": "Get details about a private key.",
        "operationId": "GetPrivateKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPrivateKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPrivateKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_send_transaction_status": {
      "post": {
        "tags": [
          "Send Transactions"
        ],
        "summary": "Get send transaction status",
        "description": "Get the status of a send transaction request.",
        "operationId": "GetSendTransactionStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSendTransactionStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSendTransactionStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_smart_contract_interface": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Get smart contract interface",
        "description": "Get details about a smart contract interface.",
        "operationId": "GetSmartContractInterface",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSmartContractInterfaceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSmartContractInterfaceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_user": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get user",
        "description": "Get details about a user.",
        "operationId": "GetUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_wallet": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Get wallet",
        "description": "Get details about a wallet.",
        "operationId": "GetWallet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWalletRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWalletResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/get_wallet_account": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Get wallet account",
        "description": "Get a single wallet account.",
        "operationId": "GetWalletAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWalletAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWalletAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_activities": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "List activities",
        "description": "List all activities within an organization.",
        "operationId": "GetActivities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetActivitiesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActivitiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_app_proofs": {
      "post": {
        "tags": [
          "App Proof"
        ],
        "summary": "List App Proofs for an activity",
        "description": "List the App Proofs for the given activity.",
        "operationId": "GetAppProofs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAppProofsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppProofsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_fiat_on_ramp_credentials": {
      "post": {
        "tags": [
          "On Ramp"
        ],
        "summary": "List Fiat On Ramp Credentials",
        "description": "List all fiat on ramp provider credentials within an organization.",
        "operationId": "ListFiatOnRampCredentials",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFiatOnRampCredentialsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFiatOnRampCredentialsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_oauth2_credentials": {
      "post": {
        "tags": [
          "User Auth"
        ],
        "summary": "List OAuth 2.0 Credentials",
        "description": "List all OAuth 2.0 credentials within an organization.",
        "operationId": "ListOauth2Credentials",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOauth2CredentialsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOauth2CredentialsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_policies": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "List policies",
        "description": "List all policies within an organization.",
        "operationId": "GetPolicies",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPoliciesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPoliciesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_private_key_tags": {
      "post": {
        "tags": [
          "Private Key Tags"
        ],
        "summary": "List private key tags",
        "description": "List all private key tags within an organization.",
        "operationId": "ListPrivateKeyTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPrivateKeyTagsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPrivateKeyTagsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_private_keys": {
      "post": {
        "tags": [
          "Private Keys"
        ],
        "summary": "List private keys",
        "description": "List all private keys within an organization.",
        "operationId": "GetPrivateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPrivateKeysRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPrivateKeysResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_smart_contract_interfaces": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "List smart contract interfaces",
        "description": "List all smart contract interfaces within an organization.",
        "operationId": "GetSmartContractInterfaces",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSmartContractInterfacesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSmartContractInterfacesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_suborgs": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get sub-organizations",
        "description": "Get all suborg IDs associated given a parent org ID and an optional filter.",
        "operationId": "GetSubOrgIds",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSubOrgIdsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSubOrgIdsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_user_tags": {
      "post": {
        "tags": [
          "User Tags"
        ],
        "summary": "List user tags",
        "description": "List all user tags within an organization.",
        "operationId": "ListUserTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListUserTagsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUserTagsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "List users",
        "description": "List all users within an organization.",
        "operationId": "GetUsers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUsersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUsersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_verified_suborgs": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get verified sub-organizations",
        "description": "Get all email or phone verified suborg IDs associated given a parent org ID.",
        "operationId": "GetVerifiedSubOrgIds",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetVerifiedSubOrgIdsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetVerifiedSubOrgIdsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_wallet_accounts": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "List wallets accounts",
        "description": "List all accounts within a wallet.",
        "operationId": "GetWalletAccounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWalletAccountsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWalletAccountsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/list_wallets": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "List wallets",
        "description": "List all wallets within an organization.",
        "operationId": "GetWallets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWalletsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWalletsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/query/whoami": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Who am I?",
        "description": "Get basic information about your current API or WebAuthN user and their organization. Affords sub-organization look ups via parent organization for WebAuthN or API key users.",
        "operationId": "GetWhoami",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWhoamiRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWhoamiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/approve_activity": {
      "post": {
        "tags": [
          "Consensus"
        ],
        "summary": "Approve activity",
        "description": "Approve an activity.",
        "operationId": "ApproveActivity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveActivityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_api_keys": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create API keys",
        "description": "Add API keys to an existing user.",
        "operationId": "CreateApiKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeysRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_authenticators": {
      "post": {
        "tags": [
          "Authenticators"
        ],
        "summary": "Create authenticators",
        "description": "Create authenticators to authenticate requests to Turnkey.",
        "operationId": "CreateAuthenticators",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuthenticatorsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_fiat_on_ramp_credential": {
      "post": {
        "tags": [
          "On Ramp"
        ],
        "summary": "Create a Fiat On Ramp Credential",
        "description": "Create a fiat on ramp provider credential",
        "operationId": "CreateFiatOnRampCredential",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFiatOnRampCredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_invitations": {
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "Create invitations",
        "description": "Create invitations to join an existing organization.",
        "operationId": "CreateInvitations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvitationsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_oauth2_credential": {
      "post": {
        "tags": [
          "User Auth"
        ],
        "summary": "Create an OAuth 2.0 Credential",
        "description": "Enable authentication for end users with an OAuth 2.0 provider",
        "operationId": "CreateOauth2Credential",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOauth2CredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_oauth_providers": {
      "post": {
        "tags": [
          "User Auth"
        ],
        "summary": "Create Oauth providers",
        "description": "Create Oauth providers for a specified user.",
        "operationId": "CreateOauthProviders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOauthProvidersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_policies": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Create policies",
        "description": "Create new policies.",
        "operationId": "CreatePolicies",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePoliciesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_policy": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Create policy",
        "description": "Create a new policy.",
        "operationId": "CreatePolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_private_key_tag": {
      "post": {
        "tags": [
          "Private Key Tags"
        ],
        "summary": "Create private key tag",
        "description": "Create a private key tag and add it to private keys.",
        "operationId": "CreatePrivateKeyTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrivateKeyTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_private_keys": {
      "post": {
        "tags": [
          "Private Keys"
        ],
        "summary": "Create private keys",
        "description": "Create new private keys.",
        "operationId": "CreatePrivateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrivateKeysRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_read_only_session": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Create read only session",
        "description": "Create a read only session for a user (valid for 1 hour).",
        "operationId": "CreateReadOnlySession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReadOnlySessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_read_write_session": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Create read write session",
        "description": "Create a read write session for a user.",
        "operationId": "CreateReadWriteSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReadWriteSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_smart_contract_interface": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Create smart contract interface",
        "description": "Create an ABI/IDL in JSON.",
        "operationId": "CreateSmartContractInterface",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSmartContractInterfaceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_sub_organization": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Create sub-organization",
        "description": "Create a new sub-organization.",
        "operationId": "CreateSubOrganization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_user_tag": {
      "post": {
        "tags": [
          "User Tags"
        ],
        "summary": "Create user tag",
        "description": "Create a user tag and add it to users.",
        "operationId": "CreateUserTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create users",
        "description": "Create users in an existing organization.",
        "operationId": "CreateUsers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUsersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_wallet": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Create wallet",
        "description": "Create a wallet and derive addresses.",
        "operationId": "CreateWallet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/create_wallet_accounts": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Create wallet accounts",
        "description": "Derive additional addresses using an existing wallet.",
        "operationId": "CreateWalletAccounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletAccountsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_api_keys": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Delete API keys",
        "description": "Remove api keys from a user.",
        "operationId": "DeleteApiKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteApiKeysRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_authenticators": {
      "post": {
        "tags": [
          "Authenticators"
        ],
        "summary": "Delete authenticators",
        "description": "Remove authenticators from a user.",
        "operationId": "DeleteAuthenticators",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAuthenticatorsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_fiat_on_ramp_credential": {
      "post": {
        "tags": [
          "On Ramp"
        ],
        "summary": "Delete a Fiat On Ramp Credential",
        "description": "Delete a fiat on ramp provider credential",
        "operationId": "DeleteFiatOnRampCredential",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFiatOnRampCredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_invitation": {
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "Delete invitation",
        "description": "Delete an existing invitation.",
        "operationId": "DeleteInvitation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteInvitationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_oauth2_credential": {
      "post": {
        "tags": [
          "User Auth"
        ],
        "summary": "Delete an OAuth 2.0 Credential",
        "description": "Disable authentication for end users with an OAuth 2.0 provider",
        "operationId": "DeleteOauth2Credential",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteOauth2CredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_oauth_providers": {
      "post": {
        "tags": [
          "User Auth"
        ],
        "summary": "Delete Oauth providers",
        "description": "Remove Oauth providers for a specified user.",
        "operationId": "DeleteOauthProviders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteOauthProvidersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_policies": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Delete policies",
        "description": "Delete existing policies.",
        "operationId": "DeletePolicies",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePoliciesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_policy": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Delete policy",
        "description": "Delete an existing policy.",
        "operationId": "DeletePolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_private_key_tags": {
      "post": {
        "tags": [
          "Private Key Tags"
        ],
        "summary": "Delete private key tags",
        "description": "Delete private key tags within an organization.",
        "operationId": "DeletePrivateKeyTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePrivateKeyTagsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_private_keys": {
      "post": {
        "tags": [
          "Private Keys"
        ],
        "summary": "Delete private keys",
        "description": "Delete private keys for an organization.",
        "operationId": "DeletePrivateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePrivateKeysRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_smart_contract_interface": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Delete smart contract interface",
        "description": "Delete a smart contract interface.",
        "operationId": "DeleteSmartContractInterface",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteSmartContractInterfaceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_sub_organization": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Delete sub-organization",
        "description": "Delete a sub-organization.",
        "operationId": "DeleteSubOrganization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteSubOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_user_tags": {
      "post": {
        "tags": [
          "User Tags"
        ],
        "summary": "Delete user tags",
        "description": "Delete user tags within an organization.",
        "operationId": "DeleteUserTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteUserTagsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Delete users",
        "description": "Delete users within an organization.",
        "operationId": "DeleteUsers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteUsersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_wallet_accounts": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Delete wallet accounts",
        "description": "Delete wallet accounts for an organization.",
        "operationId": "DeleteWalletAccounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWalletAccountsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/delete_wallets": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Delete wallets",
        "description": "Delete wallets for an organization.",
        "operationId": "DeleteWallets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWalletsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/email_auth": {
      "post": {
        "tags": [
          "User Auth"
        ],
        "summary": "Perform email auth",
        "description": "Authenticate a user via email.",
        "operationId": "EmailAuth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailAuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/eth_send_transaction": {
      "post": {
        "tags": [
          "Broadcasting"
        ],
        "summary": "Submit a transaction intent for broadcasting.",
        "description": "Submit a transaction intent describing a transaction you would like to broadcast.",
        "operationId": "EthSendTransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EthSendTransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/export_private_key": {
      "post": {
        "tags": [
          "Private Keys"
        ],
        "summary": "Export private key",
        "description": "Export a private key.",
        "operationId": "ExportPrivateKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportPrivateKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/export_wallet": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Export wallet",
        "description": "Export a wallet.",
        "operationId": "ExportWallet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportWalletRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/export_wallet_account": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Export wallet account",
        "description": "Export a wallet account.",
        "operationId": "ExportWalletAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportWalletAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/import_private_key": {
      "post": {
        "tags": [
          "Private Keys"
        ],
        "summary": "Import private key",
        "description": "Import a private key.",
        "operationId": "ImportPrivateKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportPrivateKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/import_wallet": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Import wallet",
        "description": "Import a wallet.",
        "operationId": "ImportWallet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportWalletRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/init_fiat_on_ramp": {
      "post": {
        "tags": [
          "On Ramp"
        ],
        "summary": "Init fiat on ramp",
        "description": "Initiate a fiat on ramp flow.",
        "operationId": "InitFiatOnRamp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitFiatOnRampRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/init_import_private_key": {
      "post": {
        "tags": [
          "Private Keys"
        ],
        "summary": "Init import private key",
        "description": "Initialize a new private key import.",
        "operationId": "InitImportPrivateKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitImportPrivateKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/init_import_wallet": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Init import wallet",
        "description": "Initialize a new wallet import.",
        "operationId": "InitImportWallet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitImportWalletRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/init_otp": {
      "post": {
        "tags": [
          "User Verification"
        ],
        "summary": "Init generic OTP",
        "description": "Initiate a generic OTP activity.",
        "operationId": "InitOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitOtpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/init_otp_auth": {
      "post": {
        "tags": [
          "User Auth"
        ],
        "summary": "Init OTP auth",
        "description": "Initiate an OTP auth activity.",
        "operationId": "InitOtpAuth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitOtpAuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/init_user_email_recovery": {
      "post": {
        "tags": [
          "User Recovery"
        ],
        "summary": "Init email recovery",
        "description": "Initialize a new email recovery.",
        "operationId": "InitUserEmailRecovery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitUserEmailRecoveryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/oauth": {
      "post": {
        "tags": [
          "User Auth"
        ],
        "summary": "Oauth",
        "description": "Authenticate a user with an OIDC token (Oauth).",
        "operationId": "Oauth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OauthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/oauth2_authenticate": {
      "post": {
        "tags": [
          "User Auth"
        ],
        "summary": "OAuth 2.0 authentication",
        "description": "Authenticate a user with an OAuth 2.0 provider and receive an OIDC token to use with the LoginWithOAuth or CreateSubOrganization activities",
        "operationId": "Oauth2Authenticate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Oauth2AuthenticateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/oauth_login": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Login with Oauth",
        "description": "Create an Oauth session for a user.",
        "operationId": "OauthLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OauthLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/otp_auth": {
      "post": {
        "tags": [
          "User Auth"
        ],
        "summary": "OTP auth",
        "description": "Authenticate a user with an OTP code sent via email or SMS.",
        "operationId": "OtpAuth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OtpAuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/otp_login": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Login with OTP",
        "description": "Create an OTP session for a user.",
        "operationId": "OtpLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OtpLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/recover_user": {
      "post": {
        "tags": [
          "User Recovery"
        ],
        "summary": "Recover a user",
        "description": "Complete the process of recovering a user by adding an authenticator.",
        "operationId": "RecoverUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecoverUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/reject_activity": {
      "post": {
        "tags": [
          "Consensus"
        ],
        "summary": "Reject activity",
        "description": "Reject an activity.",
        "operationId": "RejectActivity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectActivityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/remove_organization_feature": {
      "post": {
        "tags": [
          "Features"
        ],
        "summary": "Remove organization feature",
        "description": "Remove an organization feature. This activity must be approved by the current root quorum.",
        "operationId": "RemoveOrganizationFeature",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveOrganizationFeatureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/set_organization_feature": {
      "post": {
        "tags": [
          "Features"
        ],
        "summary": "Set organization feature",
        "description": "Set an organization feature. This activity must be approved by the current root quorum.",
        "operationId": "SetOrganizationFeature",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetOrganizationFeatureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/sign_raw_payload": {
      "post": {
        "tags": [
          "Signing"
        ],
        "summary": "Sign raw payload",
        "description": "Sign a raw payload.",
        "operationId": "SignRawPayload",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignRawPayloadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/sign_raw_payloads": {
      "post": {
        "tags": [
          "Signing"
        ],
        "summary": "Sign raw payloads",
        "description": "Sign multiple raw payloads with the same signing parameters.",
        "operationId": "SignRawPayloads",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignRawPayloadsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/sign_transaction": {
      "post": {
        "tags": [
          "Signing"
        ],
        "summary": "Sign transaction",
        "description": "Sign a transaction.",
        "operationId": "SignTransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignTransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/sol_send_transaction": {
      "post": {
        "tags": [
          "Broadcasting"
        ],
        "summary": "Submit a transaction intent for broadcasting.",
        "description": "Submit a transaction intent describing a transaction you would like to broadcast.",
        "operationId": "SolSendTransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolSendTransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/stamp_login": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Login with a stamp",
        "description": "Create a session for a user through stamping client side (API key, wallet client, or passkey client).",
        "operationId": "StampLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StampLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/update_fiat_on_ramp_credential": {
      "post": {
        "tags": [
          "On Ramp"
        ],
        "summary": "Update a Fiat On Ramp Credential",
        "description": "Update a fiat on ramp provider credential",
        "operationId": "UpdateFiatOnRampCredential",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFiatOnRampCredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/update_oauth2_credential": {
      "post": {
        "tags": [
          "User Auth"
        ],
        "summary": "Update an OAuth 2.0 Credential",
        "description": "Update an OAuth 2.0 provider credential",
        "operationId": "UpdateOauth2Credential",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOauth2CredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/update_policy": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Update policy",
        "description": "Update an existing policy.",
        "operationId": "UpdatePolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/update_private_key_tag": {
      "post": {
        "tags": [
          "Private Key Tags"
        ],
        "summary": "Update private key tag",
        "description": "Update human-readable name or associated private keys. Note that this activity is atomic: all of the updates will succeed at once, or all of them will fail.",
        "operationId": "UpdatePrivateKeyTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePrivateKeyTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/update_root_quorum": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Update root quorum",
        "description": "Set the threshold and members of the root quorum. This activity must be approved by the current root quorum.",
        "operationId": "UpdateRootQuorum",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRootQuorumRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/update_user": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Update user",
        "description": "Update a user in an existing organization.",
        "operationId": "UpdateUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/update_user_email": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Update user's email",
        "description": "Update a user's email in an existing organization.",
        "operationId": "UpdateUserEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/update_user_name": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Update user's name",
        "description": "Update a user's name in an existing organization.",
        "operationId": "UpdateUserName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserNameRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/update_user_phone_number": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Update user's phone number",
        "description": "Update a user's phone number in an existing organization.",
        "operationId": "UpdateUserPhoneNumber",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserPhoneNumberRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/update_user_tag": {
      "post": {
        "tags": [
          "User Tags"
        ],
        "summary": "Update user tag",
        "description": "Update human-readable name or associated users. Note that this activity is atomic: all of the updates will succeed at once, or all of them will fail.",
        "operationId": "UpdateUserTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/update_wallet": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Update wallet",
        "description": "Update a wallet for an organization.",
        "operationId": "UpdateWallet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWalletRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/submit/verify_otp": {
      "post": {
        "tags": [
          "User Verification"
        ],
[...]
