.dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 var(--ifm-paragraph-margin-bottom);
}

.dropdown-trigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  padding: 0.5rem 0;
}

.dropdown-arrow {
  display: inline-block;
  transition: transform 0.2s ease;
  font-size: 0.75rem;
}

.dropdown-trigger.open .dropdown-arrow {
  transform: rotate(90deg);
}

.dropdown-content {
  display: flex;
  flex-direction: column;
}

/* Style for feature links */
.dropdown-content a {
  display: block;
  /* color: var(--ifm-color-gray-400); */
  /* text-decoration: none; */
  transition: opacity 0.2s ease;
}

.dropdown-content a:hover {
  opacity: 0.8;
}
