.steps > h3 {
  counter-increment: step;
}

.mdx > .steps:first-child > h3:first-child {
  margin-top: 0;
}

.steps > h3 {
  counter-increment: step;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.steps {
  counter-reset: step;
}

.steps > h3::before {
  margin-right: 0.5rem;
  position: absolute;
  display: flex;
  height: 2.125rem;
  width: 2.125rem;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--tk-step-background);
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-left: -50px;
  margin-top: -4px;
  content: counter(step);
}
