/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4c48ff;
  --ifm-color-primary-dark: #4c48ff;
  --ifm-color-primary-darker: #4c48ff;
  --ifm-color-primary-darkest: #4c48ff;
  --ifm-color-primary-light: #d1cff1;
  --ifm-color-primary-lighter: #d1cff1;
  --ifm-color-primary-lightest: #d1cff1;
  --ifm-code-font-size: 85%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --tk-bg-danger-background: hsla(0, 93%, 94%, 0.5);
  --tk-text-danger: rgb(220 38 38);
  --tk-border-gray-100: rgb(226 226 226);
  --biel-primary-color: #050a0b;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #10d7b4;
  --ifm-color-primary-dark: #10d7b4;
  --ifm-color-primary-darker: #10d7b4;
  --ifm-color-primary-darkest: #10d7b4;
  --ifm-color-primary-light: #10d7b4;
  --ifm-color-primary-lighter: #10d7b4;
  --ifm-color-primary-lightest: #10d7b4;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --tk-bg-danger-background: hsl(0deg 100% 9.99% / 75%);
  --tk-text-danger: rgb(252 165 165);
  --tk-border-gray-100: rgb(55, 55, 55);
  --biel-primary-color: #ffffff;
  --biel-button-dark-text-color: #050a0b;
  --biel-message-user-text-color: #050a0b;
}
.navbar__link:after {
  display: none !important;
}
.token.property {
  color: #4c48ff !important;
}

body {
  font-size: 0.9em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 0.95em;
}

.menu__link:hover {
  background-color: #efefff;
  color: var(--ifm-color-primary);
}

.menu__link--active:hover {
  background-color: #efefff;
  color: var(--ifm-color-primary);
}
.menu__link--active {
  background-color: #efefff !important;
  color: var(--ifm-color-primary);
}

.sidebar .menu__link {
  color: #050a0b;
}

.overview-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between buttons as needed */
  justify-content: center; /* Center the buttons container */
  margin-top: 20px; /* Add some space above the buttons container */
}

.overview-button {
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  align-items: flex-start;
  justify-content: center; /* Center items vertically for a square appearance */
  width: 275px; /* Fixed width for square and equal size */
  height: 185px; /* Fixed height for square shape */
  background-color: #ffffff; /* Button background color */
  border: 1px solid #d9d9d9; /* Button border */
  border-radius: 12px; /* Rounded corners for buttons */
  padding: 20px;
  text-decoration: none;
  color: #050a0b; /* Button text color */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s; /* Smooth transition for shadow */
}
.button-text {
  margin-top: 15px; /* Adds space between icon and text */
  margin-bottom: 20px; /* Increases space at the bottom */
}
.overview-button:hover,
.overview-button:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* Shadow on hover and click */
}

.button-icon {
  font-size: 3em;
  margin-bottom: 10px; /* Space between icon and text */
  align-self: flex-start; /* Ensure icon is also left-aligned */
}

.button-text {
  text-align: left; /* Align text to the left */
  width: 100%; /* Ensure text container uses full button width for alignment */
}

.button-header {
  font-weight: bold;
  font-size: 1.1em; /* Slightly larger text for the header */
}

.button-description {
  font-size: 0.9em; /* Smaller text for the description */
}

.overview-button *,
.overview-button *::before,
.overview-button *::after {
  pointer-events: none; /* Prevent text, icon, and pseudo-elements from being selectable or causing hover effects */
}

.overview-button *,
.overview-button *::before,
.overview-button *::after {
  pointer-events: none; /* Prevent text, icon, and pseudo-elements from being selectable or causing hover effects */
}
