.table-wrapper {
  border: 1px solid var(--tk-border-gray-100);
  display: flex;
  flex-direction: column;
}

.column-headings {
  display: flex;
  background-color: rgba(218, 221, 225, 0.3);
  height: 3rem;
}

.column-headings > .column-heading {
  width: 7rem;
  height: 3rem;
  border-right: 1px solid var(--tk-border-gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-headings > .column-heading:first-child {
  border-right: none;
  width: 10rem;
}

.column-headings > .column-heading:nth-child(2) {
  width: 10rem;
}

.column-headings > .column-heading:last-child {
  border-right: none;
}

.table-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--tk-border-gray-100);
}

.table-row:nth-of-type(odd) {
  background-color: rgba(218, 221, 225, 0.3);
}

.table-row > .table-cell {
  width: 7rem;
  text-align: center;
  align-content: center;
  height: 3rem;
  border-right: 1px solid var(--tk-border-gray-100);
}

.table-row > .table-cell:first-child {
  width: 10rem;
  font-weight: 700;
  border: none;
}

.table-row > .table-cell:nth-child(2) {
  width: 10rem;
  border-left: 1px solid var(--tk-border-gray-100);
}

.table-row > .table-cell:last-child {
  border-right: none;
}

.bold {
  font-weight: 700;
}
