.table-wrapper {
  border: 1px solid var(--tk-border-gray-100);
  display: flex;
  flex-direction: column;
}

.table-wrapper.server {
  border: 1px solid var(--tk-border-gray-100);
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.column-headings {
  display: flex;
  background-color: rgba(218, 221, 225, 0.3);
  min-height: 3rem;
}

.column-headings > .column-heading {
  width: 7rem;
  min-height: 3rem;
  border-right: 1px solid var(--tk-border-gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-headings > .column-heading:first-child {
  border-right: none;
  width: 10rem;
}

.column-headings > .column-heading.server:nth-child(2) {
  border-left: 1px solid var(--tk-border-gray-100);
}

.column-headings > .column-heading.client:nth-child(2) {
  width: 10rem;
}

.column-headings > .column-heading:last-child {
  border-right: none;
}

.table-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--tk-border-gray-100);
}

.table-row:nth-of-type(odd) {
  background-color: rgba(218, 221, 225, 0.3);
}

.table-row > .table-cell {
  width: 7rem;
  text-align: left;
  align-content: center;
  min-height: 3rem;
  border-right: 1px solid var(--tk-border-gray-100);
}

.table-row > .table-cell.client:first-child {
  padding-left: 0.5rem;
  width: 10rem;
  font-weight: 700;
  border: none;
}

.table-row > .table-cell.server:first-child {
  padding-left: 0.5rem;
  width: 10rem;
  font-weight: 700;
  border: none;
}

.table-row > .table-cell.client:nth-child(2) {
  padding-left: 0.5rem;
  width: 10rem;
  border-left: 1px solid var(--tk-border-gray-100);
}

.table-row > .table-cell.server:nth-child(2) {
  padding-left: 0.5rem;
  width: 7rem;
  border-left: 1px solid var(--tk-border-gray-100);
}

.table-row > .table-cell.client:nth-child(n + 3) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-row > .table-cell.server:nth-child(n + 2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-row > .table-cell:last-child {
  border-right: none;
}

.bold {
  font-weight: 700;
}
